<!DOCTYPE html>
<html lang="en-GB" class="b-pw-1280 no-touch" id="responsive-news">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <meta name="robots" content="NOODP,NOYDIR" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">
    <link rel="dns-prefetch" href="https://ssl.bbc.co.uk/">
    <link rel="dns-prefetch" href="http://sa.bbc.co.uk/">
    <link rel="dns-prefetch" href="http://ichef-1.bbci.co.uk/">
    <link rel="dns-prefetch" href="http://ichef.bbci.co.uk/">
    <meta name="msapplication-TileColor" content="#bb1919">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="BBC News">
    <meta name="application-name" content="BBC News">

    {{{ head }}}
</head>
<!--[if lt IE 7]>      <body class="lt-ie10 lt-ie9 lt-ie8 lt-ie7">  <![endif]-->
<!--[if IE 7]>         <body class="ie7 lt-ie10 lt-ie9 lt-ie8">     <![endif]-->
<!--[if IE 8]>         <body class="ie8 lt-ie10 lt-ie9">            <![endif]-->
<!--[if IE 9]>         <body class="ie9 lt-ie10">                   <![endif]-->
<!--[if gt IE 9]><!--> <body>                                   <!--<![endif]-->
  {{{ bodyInline }}}
  {{{ bodyLast }}}
</body>
</html>